kitstroit.ru, www.kitstroit.ru {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /uploads/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}

